.m-2 {
  margin: 2rem;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.reader {
  text-align: right;
  width: 700px;
  height: 70px;
  overflow-x: auto;
  overflow-y: hidden;
}

.machine-buttons {
  width: fit-content;
  display: grid;
  text-align: left;
  grid-template-columns: 150px 150px 150px 150px;
}